/* for mobile devices */
@media screen and (max-width: 576px) {
    
    .nav-bar{
        display: none;
    }
    .bars{
        display: block;
        color: white;
    }
    .banner{
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-title{
        font-size: 2.2rem;
    }
    .btn{
        font-size: 1rem;
    }
    .app-btn{
        margin-left: 0;
        margin-top: 1rem;
    }
    .banner-img{
        width: 100%;
        margin-top: 2rem;
    }
    .badge-1, .badge-2{
        top: 24%;
        right: -9%;
        border-radius: 0.5rem;
        padding: 0.3rem 0.7rem;
    }
    .badge-2{
        top: 50%;
        right: 33%;
    }
    .banner-right h1{
        font-size: 1.2rem;
    }
    .banner-right p{
        font-size: 0.8rem;
    }
    .badge-circle{
        width: 25px;
        height: 25px;
    }
    /* Change Your Habits section styles */
    .section-headline{
        width: 100%;
        margin-top: 8rem;
    }
    .section-title{
        font-size: 1.7rem;
    }
    .section-brief{
        font-size: 1rem;
    }
    .fitness-habits{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    /* Run an Extra Mile Easily section styles */
    .run-info{
        flex-direction: column;
    }
    .run-side{
        width: 100%;
      }
    .run-img{
        width: 100%;
    }
    /* BMI Calculator section styles */
    .bmi-content{
        flex-direction: column;
    }
    .chart, .calculation{
        width: 100%;
      }
    td, th{
        padding: 0.7rem;
    }
    .bmi-form{
        grid-template-columns: 1fr;
    }
    /* Meet Our Team */
    .team-trainers{
        grid-template-columns: 1fr;
    }
    /* fitness footer styles */
    .footer-details{
        grid-template-columns: 1fr;
    }
}
/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 993px) {
    .banner{
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-title{
        font-size: 3rem;
    }

    .section-headline{
        width: 100%;
        margin-top: 5rem;
    }
    .fitness-habits{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Run an Extra Mile Easily styles */
    .bmi-content{
        flex-direction: column;
    }
    .chart, .calculation{
        width: 100%;
      }
    td, th{
        padding: 0.7rem;
    }
    .bmi-form{
        grid-template-columns: repeat(2, 1fr);
    }
        /* Meet Our Team */
        .team-trainers{
            grid-template-columns: repeat(2, 1fr);
        }
    /* fitness footer styles */
    .footer-details{
        display: grid;
        grid-template-columns: 1fr;
    }
}