
/* for mobile devices */
@media screen and (max-width: 576px) {
    
    .nav-bar{
        display: none;
    }
    .bars{
        display: block;
        color: white;
    }
    .brand-title{
        font-size: 1.3rem;
    }
    .banner{
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-text-container p{
        margin-right: 0;
      }
    .banner-title{
        font-size: 1.4rem;
    }
    .btn{
        font-size: 0.95rem;
        padding: 10px 20px;
    }
    .banner-img{
        width: 85%;
    }
    .badge-1, .badge-2{
        top: 10%;
        right: -3%;
        border-radius: 0.5rem;
        padding: 0.75rem 0.25rem 0.75rem 0.75rem;
    }
    .badge-2{
        top: 65%;
        right: 40%;
    }
    .banner-right h1{
        font-size: 1rem;
    }
    .banner-right p{
        font-size: 0.75rem;
    }
    .badge-circle{
        width: 25px;
        height: 25px;
    }
    /* pricing plans */
   .price-cards{
    grid-template-columns: 1fr;
    }
    /* Change Your Habits section styles */
    .section-headline{
        width: 95%;
    }
    .section-title{
        font-size: 1.3rem;
    }
    .section-brief{
        font-size: 1rem;
    }
    .fitness-habits{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    /* Run an Extra Mile Easily section styles */
    .about-running{
        flex-direction: column;
        padding: 1.2rem;
    }
    .run-title{
        font-size: 1.3rem;
    }
    .mile-side{
        width: 100%;
      }
    .run-img{
        width: 100%;
    }
    .running-btn{
        width: 170px;
    }
    /* BMI Calculator section styles */
    .bmi-content{
        flex-direction: column;
    }
    .chart, .calculation{
        width: 100%;
      }
    td, th{
        padding: 0.7rem;
    }
    .bmi-form{
        grid-template-columns: 1fr;
    }
    #activity{
        grid-column: 1 / span 1;
      }
    /* Meet Our Team */
    .team-trainers{
        grid-template-columns: 1fr;
    }
    .trainer{
        height: 250px;
    }
    /* fitness footer styles */
    .foot-head {
        font-size: 1.8rem;
    }
    .footer-details{
        grid-template-columns: 1fr;
    }
    .foot-info{
        flex-direction: column;
      }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-text-container p{
        margin-right: 0;
      }
    .banner-title{
        font-size: 3rem;
    }

    .section-headline{
        width: 95%;
    }
    .fitness-habits{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    
    /* pricing plans */
        .price-cards{
         grid-template-columns: repeat(2, 1fr);
    }
    /* Run an Extra Mile Easily section styles */
      .about-running{
        flex-direction: column;
        padding: 1.2rem;
    }
    .mile-side{
        width: 100%;
      }
    .run-img{
        width: 100%;
    }
        
    /* BMI Calculator section styles */
    .bmi-content{
        flex-direction: column;
    }
    .chart, .calculation{
        width: 100%;
      }
    td, th{
        padding: 0.7rem;
    }
    .bmi-form{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Meet Our Team */
        .team-trainers{
            grid-template-columns: repeat(2, 1fr);
        }
    /* fitness footer styles */
    .footer-details{
        display: grid;
        grid-template-columns: 1fr;
    }
}
